<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://cdn.appvalley.vip/522.com.remotemouse.remoteMouse.ipa?1536047969</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://appwatien.github.io/1024.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.remotemouse.remoteMouse</string>
				<key>bundle-version</key>
				<string>3.507</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>❬Remote Mouse Pro❭</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
